.DS_Store
tmp/**
core
ios/**
ios
build/
build/**
*.tar
**/*.tar
*idea*/
node_modules/
nginx/log/
**/node_modules/
**/py3env/
**/py3env/*
**/.tmp/
**/.tmp/*
**/.tmp/**/*
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
**/node_modules/*
**/compile/*
**/compile
.idea/**
.vscode/**
config/**
.idea/**/*
**/.idea/**/*
**/.idea/*
feed/django/django/**
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.ini
*.pyc
# *.sqlite3
*.xml
**/*.xml
**/*.pyc
